@import url('https://api.fontshare.com/v2/css?f[]=general-sans@600,500,400,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
    font-family: 'General Sans', sans-serif;
  }
  
  body {
    @apply bg-white text-black leading-relaxed;
    -webkit-font-smoothing: antialiased;
  }

  ::selection {
    @apply bg-black text-white;
  }
}

.overflow-hidden {
  overflow: hidden;
  display: block;
}

.char {
  display: inline-block;
  transform-origin: bottom;
}